{% extends 'base.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ mvc.urlFor('/modules/semantic/css/semantic.css') }}">
{% endblock %}

{% block container %}
    Container example
{% endblock %}

{% block javascripts %}
    <!-- jQuery 2.0.2 -->
    <script src="{{ mvc.urlFor('/modules/semantic/js/plugins/jquery/jquery.min.js') }}"></script>
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>-->
    <script src="{{ mvc.urlFor('/modules/semantic/js/semantic.js') }}"></script>
    <script src="{{ mvc.urlFor('/modules/semantic/js/homepage.js') }}"></script>
{% endblock %}