{% extends 'layout.twig' %}

{% block container %}
    <div class="ui vertical feature segment">
        <div class="ui centered page grid">
            <div class="fourteen wide column">
                <h1>Ejemplos</h1>
                <ul>
                    <li>
                        <a href="{{ mvc.urlFor('semantic_home', 'route') }}">Home Page</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}